In [20]:
import pandas as pd
import datetime as dt
from sklearn.model_selection import train_test_split

In [62]:
sale_df = pd.read_csv('../data/sale_data_ohe.csv')
weather_df = pd.read_csv('../data/weather_data.csv', encoding = 'CP949')
weather_df = weather_df[['일시','평균기온(°C)','최저기온(°C)','최고기온(°C)','최소 상대습도(%)','평균 상대습도(%)','O3','PM10']]

In [63]:
# 병합하려고 했는데 날짜 column name이 달라서 '날짜'로 통일
weather_df.rename(columns = {'일시':'날짜'}, inplace = True)

In [64]:
# pandas의 merge_asof method 사용하여 '날짜'를 기준으로 합치는 방법 사용하려고 했는데, '날짜'의 type이 str이라서 integer나 float으로 변경 필요
# pandas의 to_datetime method를 사용하여 type 변경
sale_df['날짜'] = pd.to_datetime(sale_df['날짜'], format='%Y-%m-%d')
sale_df = sale_df.sort_values('날짜')
weather_df['날짜'] = pd.to_datetime(weather_df['날짜'], format = '%Y-%m-%d')
weather_df = weather_df.sort_values('날짜')

In [65]:
# df 순서를 바꾸면 안됨
sale_and_weather_df = pd.merge_asof(sale_df, weather_df, on='날짜', allow_exact_matches=True)

In [66]:
sale_index = list(sale_df.columns[1:])
only_sale_df = sale_and_weather_df[sale_index]
sale_and_weather_df.drop(sale_index, axis = 1, inplace = True)
sale_and_weather_df = pd.concat([sale_and_weather_df, only_sale_df], axis = 1)

(256765, 416)

In [67]:
sale_and_weather_df.drop(['대분류_냉난방가전', '대분류_뷰티', '대분류_식품'], axis = 1, inplace = True)

In [69]:
# csv 파일로 저장
sale_and_weather_df.to_csv('../data/sale_weather_data_simple.csv', index = False, encoding='CP949')

In [78]:
X_df = sale_and_weather_df.loc[:, '날짜':'소분류_히터']

In [79]:
X_df.head()

,날짜,평균기온(°C),최저기온(°C),최고기온(°C),최소 상대습도(%),평균 상대습도(%),O3,PM10,소분류_가공란,소분류_가스온수기,...,소분류_홍어,소분류_홍차,소분류_화장 비누,소분류_화장 퍼프,소분류_환자식,소분류_황토매트,소분류_회,소분류_휴대용 선풍기,소분류_흰우유,소분류_히터
0,2018-01-01,0.066157,-3.463993,4.734708,20.763179,41.267581,0.015544,44.032069,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-01-01,0.066157,-3.463993,4.734708,20.763179,41.267581,0.015544,44.032069,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-01-01,0.066157,-3.463993,4.734708,20.763179,41.267581,0.015544,44.032069,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018-01-01,0.066157,-3.463993,4.734708,20.763179,41.267581,0.015544,44.032069,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018-01-01,0.066157,-3.463993,4.734708,20.763179,41.267581,0.015544,44.032069,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
y_df = sale_and_weather_df.loc[:, '20대 남성 판매량(개)':]
y_df.head()

,20대 남성 판매량(개),20대 여성 판매량(개),30대 남성 판매량(개),30대 여성 판매량(개),40대 남성 판매량(개),40대 여성 판매량(개),50대 남성 판매량(개),50대 여성 판매량(개),60대 남성 판매량(개),60대 여성 판매량(개),...,20대 남성 선호도 점수,20대 여성 선호도 점수,30대 남성 선호도 점수,30대 여성 선호도 점수,40대 남성 선호도 점수,40대 여성 선호도 점수,50대 남성 선호도 점수,50대 여성 선호도 점수,60대 남성 선호도 점수,60대 여성 선호도 점수
0,13.0,37.0,6.0,16.0,6.0,9.0,0.0,3.0,0.0,0.0,...,0.342493,0.329235,0.073506,0.079250,0.078651,0.054480,0.000000,0.042386,0.0,0.0
1,0.0,4.0,3.0,6.0,1.0,7.0,1.0,1.0,0.0,0.0,...,0.000000,0.179295,0.185138,0.149704,0.066032,0.213452,0.135208,0.071171,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.184025,0.815975,0.000000,0.0,0.0
3,1.0,2.0,13.0,16.0,7.0,15.0,1.0,3.0,0.0,0.0,...,0.049296,0.033299,0.297998,0.148285,0.171692,0.169899,0.050223,0.079309,0.0,0.0
4,1.0,1.0,5.0,8.0,5.0,6.0,2.0,1.0,0.0,0.0,...,0.086154,0.029099,0.200312,0.129579,0.214333,0.118773,0.175548,0.046203,0.0,0.0

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size = 0.3, shuffle = True, random_state = 1004)

In [83]:
X_train.to_csv('../data/X_train_weather_columns_6.csv', index = False, encoding='CP949')
X_test.to_csv('../data/X_test_weather_columns_6.csv', index = False, encoding='CP949')
y_train.to_csv('../data/y_train_weather_columns_6.csv', index = False, encoding='CP949')
y_test.to_csv('../data/y_test_weather_columns_6.csv', index = False, encoding='CP949')