In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd drive/MyDrive/Colab_Notebooks/weather_bigdata_contest/

/content/drive/MyDrive/Colab_Notebooks/weather_bigdata_contest

In [4]:
# 인구비율 데이터 불러오기
population_ratio = pd.read_csv('Population_Ratio.csv', encoding='CP949')

In [5]:
population_ratio.head(10)

   지역  2018년-2019년 평균 총 인구수(명)  2018년-2019년 8대 도시 평균 총 인구수 대비 지역의 평균 총 인구수비
0  수원                1197815.5                                     0.050179
1  광주                1457902.0                                     0.061075
2  대구                2449900.0                                     0.102632
3  대전                1482403.0                                     0.062101
4  부산                3427647.0                                     0.143592
5  서울                9747365.0                                     0.408340
6  울산                1151821.0                                     0.048253
7  인천                2955834.0                                     0.123827

In [6]:
# 날씨데이터 불러오기
weather = pd.read_csv('Weather_Data.csv', encoding='CP949')

In [7]:
weather.head()

    지점 지점명          일시  ...  최소 상대습도(%)  최소 상대습도 시각(hhmi)  평균 상대습도(%)
0  108  서울  2018-01-01  ...        19.0              1203        39.1
1  108  서울  2018-01-02  ...        19.0              1357        42.0
2  108  서울  2018-01-03  ...        28.0              1539        42.3
3  108  서울  2018-01-04  ...        31.0              1312        43.0
4  108  서울  2018-01-05  ...        32.0              1504        48.4

[5 rows x 18 columns]

In [8]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5840 entries, 0 to 5839
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   지점                   5840 non-null   int64
 1   지점명                  5840 non-null   object
 2   일시                   5840 non-null   object
 3   평균기온(°C)             5840 non-null   float64
 4   최저기온(°C)             5840 non-null   float64
 5   최저기온 시각(hhmi)        5840 non-null   int64
 6   최고기온(°C)             5840 non-null   float64
 7   최고기온 시각(hhmi)        5840 non-null   int64
 8   강수 계속시간(hr)          2072 non-null   float64
 9   1시간 최다강수량(mm)        1359 non-null   float64
 10  1시간 최다 강수량 시각(hhmi)  928 non-null    float64
 11  일강수량(mm)             2079 non-null   float64
 12  평균 풍속(m/s)           5835 non-null   float64
 13  풍정합(100m)            5831 non-null   float64
 14  최다풍향(16방위)           5838 non-null   float64
 15  최소 상대습도(%)           5840 non-null   float64
 16  최소 상대습도 시각(hhmi)     5840 non-null   int64
 17  평균 상대습도(%)           5840 non-null   float64
dtypes: float64(12), int64(4), object(2)
memory usage: 821.4+ KB

## **전달 사항 !!**
### 1. 일 강수량은 0인데 강수 계속시간에 대한 데이터는 있는 경우가 있어 찾아보았습니다.
답변 :

종관기상관측지점 일강수량의 경우 강수가 없는 날 또는 결측인 경우에는 강수량 값이 없으며,

강수량이 0.1mm 미만이거나 관측할 수 없는 정도의 양은 0으로 기입합니다.

**눈, 비 오지 않음 = NaN**

**0.1mm 미만 눈, 비 = 0**

### 2. 11 ~ 3월의 데이터에 1시간 최다강수량과 1시간 최다 강수량 시각이 기입되어있지 않은 것도 찾아보았습니다.
답변 :

11월에서 3월까지는 1시간 및 10분 최다강수량과 시각은 기입하지 않습니다.

간행물>지침>'8. 기후통계지침' 73쪽 세번째 문단을 참고하시기 바랍니다.

참고 : **2.1.1.3 강수량은 11월 ~ 다음 해 3월까지는 3시간 단위로 4~10월까지는 매시간 단위로 기입한다.**

이러한 이유때문이라고 합니다.

### 3. 4 ~ 10월이라도 일 강수량이 0.1인 경우 1시간 최다 강수량 시각이 기록되어있지 않습니다.
2019-10-29 서울의 경우를 제외한 모든 데이터에 해당합니다.

### 4. 강수 관련 데이터 말고도 평균 풍속, 풍정합, 최다풍향에 결측치가 존재합니다.
측정기기나 전산 등에 문제가 생긴 경우 발생한다고 합니다.

### 5. 시각데이터가 음수인 경우가 있습니다.
대체로 23시 **분일 때 적용됩니다.

가시성을 위해 추가되었다고 합니다.

In [9]:
# 지점 칼럼 없애기
del weather['지점']

In [10]:
# 컬럼명 바꾸기
weather = weather.rename({'지점명' : '지역', '일시' : '날짜'}, axis='columns')

In [11]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5840 entries, 0 to 5839
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   지역                   5840 non-null   object
 1   날짜                   5840 non-null   object
 2   평균기온(°C)             5840 non-null   float64
 3   최저기온(°C)             5840 non-null   float64
 4   최저기온 시각(hhmi)        5840 non-null   int64
 5   최고기온(°C)             5840 non-null   float64
 6   최고기온 시각(hhmi)        5840 non-null   int64
 7   강수 계속시간(hr)          2072 non-null   float64
 8   1시간 최다강수량(mm)        1359 non-null   float64
 9   1시간 최다 강수량 시각(hhmi)  928 non-null    float64
 10  일강수량(mm)             2079 non-null   float64
 11  평균 풍속(m/s)           5835 non-null   float64
 12  풍정합(100m)            5831 non-null   float64
 13  최다풍향(16방위)           5838 non-null   float64
 14  최소 상대습도(%)           5840 non-null   float64
 15  최소 상대습도 시각(hhmi)     5840 non-null   int64
 16  평균 상대습도(%)           5840 non-null   float64
dtypes: float64(12), int64(3), object(2)
memory usage: 775.8+ KB

### 날짜 추출

1.   날짜 : YYYY-DD-MM datetime 객체
2.   최저기온시각(hhmi) : 널값 x
3.   최고기온 시각(hhmi) : 널값 x
4.   1시간 최다 강수량 시각(hhmi) : 널값 o
5.   최소 상대습도 시각(hhmi) : 널값 x

날짜는 YYYY-DD-MM 형태의 datetime 객체로 추출한다.

In [12]:
# 1. 날짜
# datetime 추출을 위해 날짜의 타입을 스트링으로 바꾸기
weather['날짜'] = weather['날짜'].astype('str')

In [13]:
# 연-월-일의 형태로 날짜 추출
weather['날짜'] = weather['날짜'].apply(lambda _ : datetime.datetime.strptime(_,'%Y-%m-%d'))

최저기온시각(hhmi), 최고기온 시각(hhmi), 최소 상대습도 시각(hhmi)은 널값이 없기 때문에 같은 함수로 처리한다.

In [14]:
# hhmi = 만약 2020이라면 20:22, 842라면 08:42, 1이라면 00:01를 의미
# 따라서 데이터가 4자리수가 아니라면 앞에서부터 차례로 0을 채워주어야 함.
def hhmi(x) :
  if 0 <= int(x) < 10 :
    return '000' + x

  elif 10 <= int(x) < 100 :
    return '00' + x

  elif 100 <= int(x) < 1000 :
    return '0' + x

  elif 1000 <= int(x) < 2400 :
    return x
  # 데이터가 음수인 경우 -를 빼고 그대로 추출.
  elif int(x) < 0 :
    return x[1:]

# datetime 모듈의 %H가 0부터 23까지만 시간으로 인식하기 때문에 2400인 경우 0000으로 바꾼다.
  elif int(x) == 2400 :
    return '00' + x[2:]

In [15]:
# 데이터가 int형이기 때문에 str로 변환한 뒤 hhmi 함수 적용
weather['최저기온 시각(hhmi)'] = weather['최저기온 시각(hhmi)'].astype('str')
weather['최저기온 시각(hhmi)'] = weather['최저기온 시각(hhmi)'].apply(hhmi)

weather['최고기온 시각(hhmi)'] = weather['최고기온 시각(hhmi)'].astype('str')
weather['최고기온 시각(hhmi)'] = weather['최고기온 시각(hhmi)'].apply(hhmi)

weather['최소 상대습도 시각(hhmi)'] = weather['최소 상대습도 시각(hhmi)'].astype('str')
weather['최소 상대습도 시각(hhmi)'] = weather['최소 상대습도 시각(hhmi)'].apply(hhmi)

In [16]:
# 시간 객체로 바꾸면 연월일 데이터가 추가되기 때문에 시간:분 만 문자열로 추출한다.
weather['최저기온 시각(hhmi)'] = weather['최저기온 시각(hhmi)'].apply(lambda _ : datetime.datetime.strptime(_,'%H%M'))
weather['최저기온 시각(hhmi)'] = weather['최저기온 시각(hhmi)'].apply(lambda _ : datetime.datetime.strftime(_,'%H:%M'))

weather['최고기온 시각(hhmi)'] = weather['최고기온 시각(hhmi)'].apply(lambda _ : datetime.datetime.strptime(_,'%H%M'))
weather['최고기온 시각(hhmi)'] = weather['최고기온 시각(hhmi)'].apply(lambda _ : datetime.datetime.strftime(_,'%H:%M'))

weather['최소 상대습도 시각(hhmi)'] = weather['최소 상대습도 시각(hhmi)'].apply(lambda _ : datetime.datetime.strptime(_,'%H%M'))
weather['최소 상대습도 시각(hhmi)'] = weather['최소 상대습도 시각(hhmi)'].apply(lambda _ : datetime.datetime.strftime(_,'%H:%M'))

1시간 최다 강수량 시각(hhmi)는 float형이고, 결측치가 존재하므로 따로 처리한다.

In [17]:
def rain(x) :
    if 0 < int(x) < 10 :
      return '000' + x

    elif 10 <= int(x) < 100 :
      return '00' + x

    elif 100 <= int(x) < 1000 :
      return '0' + x

    elif 1000 <= int(x) < 2400 :
      return x

    elif int(x) < 0 :
      return x[1:]
      
    # 0으로 바꾸었던 NaN을 0000으로 또 바꾸기
    elif int(x) == 0 :
      return '0000'

In [18]:
# 결측치 NaN을 0으로 바꾸어주고, float을 int로 바꾼 다음 다시 str으로 형변환한다.
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].fillna(0)
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].astype(int)
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].astype('str')

weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].apply(rain)

In [19]:
# 시간 객체로 바꾸면 연월일 데이터가 추가되기 때문에 시간:분 만 문자열로 추출한다.
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].apply(lambda _ : datetime.datetime.strptime(_,'%H%M'))
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].apply(lambda _ : datetime.datetime.strftime(_,'%H:%M'))

In [20]:
# NaN -> 0 -> 0000 -> 00:00 순으로 바뀌었던 결측치를 다시 NaN으로 변환한다.
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].replace('00:00', np.NaN)

210528 금 오후 5시 - HH:MM가 아닌 HH만 가지고 시각데이터를 1시간 단위로 카테고리화 하기로 했습니다 !! 

HH:MM의 앞 두자리만 반환하여 시간만 저장하는 함수를 새로 만들었습니다.

In [21]:
def onlyhour(x) :
    return x[:2]

weather['최저기온 시각(hhmi)'] = weather['최저기온 시각(hhmi)'].apply(onlyhour)
weather['최고기온 시각(hhmi)'] = weather['최고기온 시각(hhmi)'].apply(onlyhour)
weather['최소 상대습도 시각(hhmi)'] = weather['최소 상대습도 시각(hhmi)'].apply(onlyhour)

In [22]:
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].fillna('00:00')
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].apply(onlyhour)
weather['1시간 최다 강수량 시각(hhmi)'] = weather['1시간 최다 강수량 시각(hhmi)'].replace('00', np.NaN)

In [23]:
weather.head(10)

   지역         날짜  평균기온(°C)  ...  최소 상대습도(%) 최소 상대습도 시각(hhmi)  평균 상대습도(%)
0  서울 2018-01-01      -1.3  ...        19.0               12        39.1
1  서울 2018-01-02      -1.8  ...        19.0               13        42.0
2  서울 2018-01-03      -4.7  ...        28.0               15        42.3
3  서울 2018-01-04      -4.7  ...        31.0               13        43.0
4  서울 2018-01-05      -3.0  ...        32.0               15        48.4
5  서울 2018-01-06      -2.8  ...        26.0               13        45.8
6  서울 2018-01-07      -0.8  ...        30.0               14        42.1
7  서울 2018-01-08       1.3  ...        30.0               11        51.9
8  서울 2018-01-09      -4.2  ...        43.0               12        59.4
9  서울 2018-01-10      -7.5  ...        29.0               15        52.0

[10 rows x 17 columns]

In [24]:
# 데이터 저장 csv
weather.to_csv('weather_time.csv', encoding='CP949')

In [25]:
# 데이터 저장 피클
weather.to_pickle('weather_time.plk')